@use '../abstract/variaveis';
@use '../abstract/mixins';

#nosso-espaco{
    @include mixins.margem-central(80%);
    .detalhes{
        width: 100%;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;
        padding: 2rem 0;
        .imgs-espaco{
        max-width: 300px
        }
        .espaco-textos{
            @extend .imgs-espaco;
            .titulo{
                @include mixins.ff-fs-color(variaveis.$fonte-secundaria, 2rem, variaveis.$rosa);
                font-weight: 700;
            }
            .infos{
                @include mixins.ff-fs-color(variaveis.$fonte-primaria, 1.2rem, variaveis.$cor-primaria);
                font-weight: 700;
            }
            .separador{
                width: 100px;
            }
        }
        &:nth-child(2){
            flex-direction: row-reverse;
        }
        &:hover{
            background-color: black;
        }
    }
}