$cor-primaria:#ffffff;
$cor-verde-mar: #48CFCB;
$verde-azulado:#229799;
$rosa:rgb(148, 39, 133);
$fundo-preto:#424242;
$gradient-hearder:linear-gradient(170deg, rgba(72,207,203,0.9640231092436975) 0%, rgba(14,12,12,1) 100%);
$gradient-rosa: linear-gradient(170deg, rgba(229,144,236,0.9640231092436975) 0%, rgba(230,180,228,0.4318102240896359) 100%);
$gradient-terciario:linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,45,217,1) 100%);
$fonte-primaria:'Montserrat', sans-serif;
$fonte-secundaria:'Krona One', sans-serif;


